extends layout.pug

block content
  body
    .header
      p#logo keen-dolphin's
      h1 Simple Bookstore
      hr
    .main
      h1 Add Book Page
      ul
        li
          img#book-cover(src='http://placehold.it/150x225', alt='book cover')
        .book-info
          form(action='/api/books', method='post')
            li#book-title
              input(type='text' name='title', placeholder='book title')
            li#book-year
              input(type='text' name='year', placeholder='book year')
            li#book-author
              input(type='text' name='author', placeholder='book author')
            li#book-genre
              input(type='text' name='genres', placeholder='book genre')
            form.buttons(action='/api/books', method='post')
             button#add(type='submit') Submit
