extends layout.pug

block content
  .header
    p#logo keen-dolphin's
    h1 Simple Bookstore
    hr
  .main
    ul.book
      a(href= '/json-path' + book.id)
        img#book-cover(src='http://placehold.it/150x225', alt='book cover')
        .book-info
      li#book-title= book.title
      li#book-author= book.author
      li#book-genre= book.genre
      .buttons
        button#edit(type='button') Edit
        button#delete(type='button') Delete
  script(src='./javascripts/controler.js')
