.header {
  padding: 40px 40px 0px 40px;
  text-align: center;
  background: linear-gradient( #003e4f, #66324c, #992c4b );
}
h1 {
  font-size: 2.5em;
  color: white;
  margin-bottom: 10px;
}
#logo {
  font-size: 1.5em;
  color: white;
  display: block;
  clear: both;
}
#addbook {
  font-size: 1em;
  border-radius: 5px;
  margin-bottom: 10px;
}
#search-box {
  float:right;
  font-size: 1em;
  border-radius: 5px;
  margin: 10px;
  display: block;
}
#search-box:hover {
  width: 40%;
  /*border: 3px solid blue;*/
}
hr {
  width: 80%;
  opacity: .3;

}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e5ebed

}
.book {
  border: 1px solid rgba(0,0,0, .1);
  box-shadow: 10px 9px 15px -5px rgba(212,212,212,1);
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 400px;
}
#book-cover {
  float: left;
  box-shadow: inset 10px 9px 12px -3px rgba(212,212,212,1);
  /*box-shadow: 2px 6px 26px 6px;*/
}
.book-info{
  float: left;
  padding: 10px;
}
#book-title {
  font-size: 2em;
  font-weight: bold;
}
#book-author {
  font-size: 1.5em;

}
#book-genre {
  font-size: 1em;

}
.buttons {
  font-size: 1.5em;

}
